:root,
*::after,
*::before {
  --hoofdkleur: #a88331;
  --maxWidth: 1200px;
  --mobileWidth: 768px;
  --docWidth: min(100vw, var(--maxWidth));
  --colWidth: calc(var(--docWidth) / 12);
  --gutterWidth: calc(var(--colWidth) / 4);
  --headerHeight: calc(var(--colWidth) * 2);
  --displayMobile: block;
  --hideMobile: none;
  --imageHeight: 275px;
  --slickMargin: var(--colWidth) 0;
}
@media (min-width: 768px) {
  :root {
    --displayMobile: none;
    --hideMobile: block;
  }
  :root .visible.diensten li {
    position: absolute;
  }
  :root .visible .dienst1 {
    --offset: 0, 2rem, 0;
  }
  :root .visible .dienst2 {
    --offset: calc(7 * var(--colWidth)), 2rem, 0;
  }
  :root .visible .dienst3 {
    --offset: calc(0.75 * var(--colWidth)), calc(1.3 * var(--colWidth)), 0;
  }
  :root .visible .dienst4 {
    --offset: calc(2 * var(--colWidth)), calc(2 * var(--colWidth)), 0;
  }
  :root .visible .dienst5 {
    --offset: calc(0 * var(--colWidth)), calc(4 * var(--colWidth)), 0;
  }
  :root .visible .dienst6 {
    --offset: calc(7.5 * var(--colWidth)), calc(1.1 * var(--colWidth)), 0;
  }
  :root .visible .dienst7 {
    --offset: calc(3 * var(--colWidth)), calc(1.5 * var(--colWidth)), 0;
  }
  :root .visible .dienst8 {
    --offset: calc(7 * var(--colWidth)), calc(2.2 * var(--colWidth)), 0;
  }
  :root .visible .dienst9 {
    --offset: calc(3.25 * var(--colWidth)), calc(2.7 * var(--colWidth)), 0;
  }
  :root .visible .dienst10 {
    --offset: calc(5.25 * var(--colWidth)), calc(4 * var(--colWidth)), 0;
  }
}
@media (min-width: 1200px) {
  :root {
    --displayMobile: none;
    --hideMobile: block;
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--headerHeight) + 16px);
  scroll-snap-type: y mandatory;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--hoofdkleur);
}
body::before {
  --ornamentMargin: calc(((100vw - var(--docWidth)) / 2) + var(--colWidth));
  content: '';
  position: fixed;
  left: var(--ornamentMargin);
  right: var(--ornamentMargin);
  top: var(--headerHeight);
  bottom: -100vh;
  background-size: contain;
  background-image: url('../images/Ornament-achtergrond.svg');
  background-repeat: no-repeat;
  background-position: top;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2 {
  text-transform: uppercase;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: var(--headerHeight);
  padding-bottom: calc(0.15 * var(--headerHeight));
  background-color: white;
  box-shadow: 0 -600px 0 600px white;
  text-transform: uppercase;
}
header .logo {
  display: block;
  width: auto;
  height: calc(0.65 * var(--headerHeight));
  margin-left: var(--colWidth);
}
header h1 {
  font-size: 1rem;
  line-height: 0.8;
  margin-block: 0;
  color: var(--hoofdkleur);
  display: var(--hideMobile);
  letter-spacing: 0.2px;
}
header h1 strong {
  display: block;
  font-weight: 600;
  padding-top: 0.8rem;
}
header nav {
  margin-bottom: -11px;
}
header nav ul {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: calc(3 * var(--colWidth));
  margin-right: var(--colWidth);
}
header nav ul li {
  flex: 0 0 var(--colWidth);
}
header nav ul li a {
  display: inline-block;
  color: black;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
}
header nav ul li a.active,
header nav ul li a:hover {
  border-bottom: 2px solid var(--hoofdkleur);
}
section {
  min-height: calc(100vh - var(--headerHeight) - 1rem);
  scroll-snap-align: start;
}
section.diensten {
  text-transform: uppercase;
  position: relative;
}
section.diensten h1 {
  display: var(--displayMobile);
  margin: 1rem var(--colWidth);
  padding-block: 1rem;
  font-size: 0.9rem;
}
section.diensten h1 strong + strong:before {
  content: '';
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  margin-inline: 0.4rem;
  background-color: white;
}
section.diensten .werkLink {
  display: var(--hideMobile);
  position: absolute;
  top: -1rem;
  left: calc(5 * var(--colWidth));
  width: calc(1.25 * var(--colWidth));
  height: calc(1.25 * var(--colWidth));
  background-color: #000b;
  padding: var(--gutterWidth);
  color: white;
  white-space: nowrap;
}
section.diensten .werkLink p {
  line-height: 1.6rem;
  margin: 0;
}
section.diensten .werkLink b {
  display: inline-block;
  color: var(--hoofdkleur);
  margin-left: 1.8rem;
  scale: 2 1.8;
}
section.diensten ul {
  padding: 0;
  margin-left: var(--colWidth);
  font-size: 0.8rem;
  line-height: 2.2rem;
  min-height: 50vh;
}
section.diensten ul li {
  color: white;
  transition: all 500ms ease-in-out;
  transform: translate3d(var(--offset));
  --ofset: 0, 0, 0;
}
section.diensten ul li:before {
  content: '';
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background-color: black;
}
section.fotosWerk {
  display: flex;
}
section.fotosWerk h2 {
  position: absolute;
  color: white;
  margin: 0 0 0 var(--colWidth);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
section.fotosWerk .slick {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--slickMargin);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: scroll;
  height: -webkit-min-content;
  height: min-content;
}
section.fotosWerk .slick::-webkit-scrollbar {
  display: none;
}
section.fotosWerk li:not(.control) {
  --maxZoom: 1.5;
  transition: all 300ms ease-in-out;
  will-change: scale;
  transform: scale3d(1, 1, 1);
}
section.fotosWerk li:not(.control):hover {
  z-index: 100;
  transform: scale3d(var(--maxZoom), var(--maxZoom), var(--maxZoom));
}
section.fotosWerk .slick-arrow {
  border: none;
  scroll-snap-align: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
  height: calc(var(--imageHeight) + 1rem);
  flex: 0 0 var(--colWidth);
  background-color: var(--hoofdkleur);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
section.fotosWerk .slick-prev {
  left: 0;
}
section.fotosWerk.slick-next {
  right: 0;
}
section.fotosWerk img {
  height: var(--imageHeight);
  width: auto;
  border: 1px solid #ffffffbb;
  margin: 0 calc(var(--gutterWidth) / 2);
}
section.contact .inzet {
  opacity: 0.8;
  position: relative;
  display: flex;
  background-color: white;
  width: calc(4.75 * var(--colWidth));
  margin: 0 0 0 var(--colWidth);
  box-shadow: 0 -1rem white;
}
section.contact .inzet * {
  opacity: 1;
}
section.contact .gegevens {
  padding: 1rem var(--gutterWidth) calc(0.4 * var(--colWidth)) var(--gutterWidth);
  line-height: 1.8rem;
  flex: 0 0 calc(3 * var(--colWidth));
}
section.contact h2,
section.contact p,
section.contact a {
  color: black;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
section.contact h2 + h2,
section.contact p + h2,
section.contact a + h2 {
  margin-top: 1rem;
}
section.contact h2:last-child {
  text-transform: none;
}
section.contact p span {
  display: inline-block;
  width: 1rem;
}
