:root {
  --hoofdkleur: #a88331;
  --tint1: #b4934c;
  --maxWidth: 1200px;
  --mobileWidth: 768px;
  --docWidth: min(100vw, var(--maxWidth));
  --colWidth: calc(var(--docWidth) / 12);
  --gutterWidth: calc(var(--colWidth) / 4);
  --headerHeight: calc(var(--colWidth) * 2);
  --displayMobile: block;
  --hideMobile: none;
  --imageHeight: 275px;
  --slickMargin: var(--colWidth) 0;
}
@media (min-width: 768px) {
  :root {
    --displayMobile: none;
    --hideMobile: block;
  }
}
@media (min-width: 1200px) {
  :root {
    --displayMobile: none;
    --hideMobile: block;
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--headerHeight) + 16px);
  scroll-snap-type: y mandatory;
}
@media screen and (prefers-reduced-motion: reduce) {
  html html {
    scroll-behavior: auto;
  }
}
html,
body {
  background-image: linear-gradient(white var(--colWidth), var(--hoofdkleur) 0 100%);
}
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--tint1);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2 {
  text-transform: uppercase;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: var(--headerHeight);
  padding-bottom: calc(0.15 * var(--headerHeight));
  background-color: white;
  box-shadow: 0 -600px 0 600px white;
  text-transform: uppercase;
}
header .logo {
  width: auto;
  height: calc(0.65 * var(--headerHeight));
  margin-left: var(--colWidth);
}
header h1 {
  font-size: 1rem;
  line-height: 0.8;
  margin-block: 0;
  color: var(--hoofdkleur);
  display: var(--hideMobile);
}
header h1 strong {
  display: block;
  font-weight: 600;
  padding-top: 0.8rem;
}
header nav ul {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: calc(3 * var(--colWidth));
  margin-right: var(--colWidth);
}
header nav ul li a {
  display: inline-block;
  color: black;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
}
header nav ul li a.active,
header nav ul li a:hover {
  border-bottom: 2px solid var(--hoofdkleur);
}
section {
  min-height: calc(100vh - var(--headerHeight));
  scroll-snap-align: start;
}
section.diensten {
  text-transform: uppercase;
}
section.diensten h1 {
  display: var(--displayMobile);
}
section.diensten ul {
  padding: 0;
  margin-left: var(--colWidth);
  line-height: 2.2rem;
}
section.diensten ul li {
  color: white;
}
section.diensten ul li:before {
  content: '';
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background-color: black;
}
section.fotosWerk {
  display: flex;
}
section.fotosWerk .slick {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--slickMargin);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: scroll;
  height: -webkit-min-content;
  height: min-content;
}
section.fotosWerk .slick::-webkit-scrollbar {
  display: none;
}
section.fotosWerk li:not(.control) {
  --maxZoom: 1.5;
  transition: all 300ms ease-in-out;
  will-change: scale;
  transform: scale3d(1, 1, 1);
}
section.fotosWerk li:not(.control):hover {
  z-index: 100;
  transform: scale3d(var(--maxZoom), var(--maxZoom), var(--maxZoom));
}
section.fotosWerk .slick-arrow {
  border: none;
  scroll-snap-align: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
  height: calc(var(--imageHeight) + 1rem);
  flex: 0 0 var(--colWidth);
  background-color: var(--hoofdkleur);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
section.fotosWerk .slick-prev {
  left: 0;
}
section.fotosWerk.slick-next {
  right: 0;
}
section.fotosWerk img {
  height: var(--imageHeight);
  width: auto;
  border: 1px solid #ffffffbb;
  margin: 0 calc(var(--gutterWidth) / 2);
}
section.contact {
  --bgColor: #ffffffbb;
}
section.contact .inzet {
  position: relative;
  display: flex;
  background-color: var(--bgColor);
  width: calc(4.75 * var(--colWidth));
  margin: 0 0 0 var(--colWidth);
}
section.contact .inzet::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  height: 16px;
  background-color: inherit;
}
section.contact .gegevens {
  padding: 1rem var(--gutterWidth) calc(0.4 * var(--colWidth)) var(--gutterWidth);
  line-height: 1.8rem;
  flex: 0 0 calc(3 * var(--colWidth));
}
section.contact h2,
section.contact p,
section.contact a {
  color: black;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
section.contact h2 + h2,
section.contact p + h2,
section.contact a + h2 {
  margin-top: 1rem;
}
section.contact h2:last-child {
  text-transform: none;
}
section.contact p span {
  display: inline-block;
  width: 1rem;
}
