:root {
    --hoofdkleur   : #a88331;
    --tint1        : #b4934c;
    --maxWidth     : 1200px;
    --mobileWidth  : 768px;
    --docWidth     : ~"min(100vw, var(--maxWidth))";
    --colWidth     : calc(var(--docWidth) / 12);
    --headerHeight : calc(var(--colWidth) * 2);
    --displayMobile: block;
    --hideMobile   : none;
    --imageHeight  : 275px;
}

@media (min-width:768px) {
    :root {
        --displayMobile: none;
        --hideMobile   : block;
    }
}

* {
    box-sizing: border-box;
}

.foo {
    padding: var(--responsive-padding);
}

html {
    scroll-behavior: smooth;

    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
}

body {
    margin          : 0 auto;
    max-width       : 1200px;
    font-family     : 'Open Sans', sans-serif;
    background-color: var(--tint1);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    position        : sticky;
    top             : 0;
    display         : flex;
    align-items     : flex-end;
    height          : var(--headerHeight);
    padding-bottom  : 30px;
    background-color: white;
    box-shadow      : 0 -600px 0 600px white;
    text-transform  : uppercase;

    .logoWrapper {
        flex: 0 0 calc(5.25 * var(--colWidth));
    }

    .logo {
        width      : ~'min(200px, var(--colWidth) * 2.25)';
        height     : auto;
        margin-left: var(--colWidth);
    }

    h1 {
        font-size   : 1rem;
        line-height : .8;
        width       : calc(var(--colWidth) * 2.75);
        margin-block: 0;
        color       : var(--hoofdkleur);
        display     : var(--hideMobile);

        strong {
            display    : block;
            font-weight: normal;
            padding-top: .8rem;
        }
    }

    nav ul {
        font-size: 1rem;
        margin   : 0;
        padding  : 0;
        display  : flex;

        li {
            flex: 0 0 var(--colWidth);

            a {
                display       : inline-block;
                color         : black;
                padding-bottom: .3rem;
                border-bottom : 2px solid var(--hoofdkleur)
            }
        }
    }
}

section {
    height: calc(100% - var(--headerHeight));

    &.diensten {
        h1 {
            display       : var(--displayMobile);
            text-transform: uppercase;
        }
    }

    &.fotosWerk {
        img {
            height: var(--imageHeight);
        }
    }
}