:root {
  --hoofdkleur: #a88331;
  --tint1: #b4934c;
  --maxWidth: 1200px;
  --mobileWidth: 768px;
  --docWidth: min(100vw, var(--maxWidth));
  --colWidth: calc(var(--docWidth) / 12);
  --headerHeight: calc(var(--colWidth) * 2);
  --displayMobile: block;
  --hideMobile: none;
  --imageHeight: 275px;
}
@media (min-width: 768px) {
  :root {
    --displayMobile: none;
    --hideMobile: block;
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--headerHeight) + 16px);
  scroll-snap-type: y mandatory;
}
@media screen and (prefers-reduced-motion: reduce) {
  html html {
    scroll-behavior: auto;
  }
}
html,
body {
  background-image: linear-gradient(white var(--colWidth), var(--hoofdkleur) 0 100%);
}
body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--tint1);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2 {
  text-transform: uppercase;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  height: var(--headerHeight);
  padding-bottom: calc(0.15 * var(--headerHeight));
  background-color: white;
  box-shadow: 0 -600px 0 600px white;
  text-transform: uppercase;
}
header .logoWrapper {
  flex: 0 0 calc(5.25 * var(--colWidth));
}
header .logo {
  width: auto;
  height: calc(0.65 * var(--headerHeight));
  margin-left: var(--colWidth);
}
header h1 {
  font-size: 1rem;
  line-height: 0.8;
  width: calc(var(--colWidth) * 2.75);
  margin-block: 0;
  color: var(--hoofdkleur);
  display: var(--hideMobile);
}
header h1 strong {
  display: block;
  font-weight: 600;
  padding-top: 0.8rem;
}
header nav ul {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  flex: 0 0 var(--colWidth);
}
header nav ul li a {
  display: inline-block;
  color: black;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--hoofdkleur);
}
section {
  height: calc(100% - var(--headerHeight));
  scroll-snap-align: start;
}
section.diensten {
  text-transform: uppercase;
}
section.diensten h1 {
  display: var(--displayMobile);
}
section.diensten ul {
  padding: 0;
  margin-left: var(--colWidth);
  line-height: 2.2rem;
}
section.diensten ul li {
  color: white;
}
section.diensten ul li:before {
  content: '';
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background-color: black;
}
section.fotosWerk img {
  height: var(--imageHeight);
}
section.contact .inzet {
  display: flex;
  background-color: #ffffffbb;
  width: calc(4.75 * var(--colWidth));
  margin-left: var(--colWidth);
}
section.contact .gegevens {
  padding: calc(0.4 * var(--colWidth)) calc(0.25 * var(--colWidth));
  line-height: 1.8rem;
  flex: 0 0 calc(3 * var(--colWidth));
}
section.contact h2,
section.contact p,
section.contact a {
  color: black;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
section.contact h2 + h2,
section.contact p + h2,
section.contact a + h2 {
  margin-top: 1rem;
}
section.contact h2:last-child {
  text-transform: none;
}
section.contact p span {
  display: inline-block;
  width: 1rem;
}
